#familypic {
    width: 400px;
    padding: 20px;
}
.footer {
    background-color: #F14668;
}
.aboutText {
    font-size: larger;
}
.hide {
    opacity: 0;
}
.wizBtn {
    background-color: #F14668;
    border: none;
}
#welcomeDiv {
    background-color: slategray;
}
.has-bg-img {
    background: url("https://previews.123rf.com/images/pondpony/pondpony1611/pondpony161100038/68406572-set-of-hand-tools-in-workshop-on-wood-background-hand-tools-for-general-work-and-home-maintenance-.jpg")center center; 
    background-size:cover;
}
.is-gray {
    background-color: slategray;
    color: white;
}
.card {
    border: 20px #302E2F !important;
    background-color: #363536;
    text-align: center;
    color: white;
}
.has-text-centered{
    align-items: center !important;
}

a {
    color: #F14668;
    text-align: center;
    
}
a:hover{
    color: white;
}
label {
    color: white !important;
}
.submission{
      background-color: #363536
}