#familypic {
    width: 400px;
}
.footer {
    background-color: #F14668;
    padding: 3rem 1.5rem 3rem !important;
}
.aboutText, .subtitle {
    font-size: larger;
    font-family: 'ZCOOL QingKe HuangYou' !important;
}
.hide {
    opacity: 0;
}

#welcomeDiv {
    background-color: slategray;
}
.has-bg-img {
    background: url("https://previews.123rf.com/images/pondpony/pondpony1611/pondpony161100038/68406572-set-of-hand-tools-in-workshop-on-wood-background-hand-tools-for-general-work-and-home-maintenance-.jpg")center center; 
    background-size:cover;
}
.is-gray {
    background-color: slategray;
    color: white;
}
.card {
    border: 20px #302E2F !important;
    background-color: #363536;
    text-align: center;
    color: white;
}
.has-text-centered{
    align-items: center !important;
    text-align: center !important;
}

a {
    color: #F14668;
    text-align: center;
    
}
a:hover{
    color: #312F2F !important;
}
label {
    color: white !important;
}
.submission{
      background-color: #363536
}
.iconTitle {
    font-size: medium !important;
    align-items: center !important;
    font-weight: bold !important;
}
.tile {
    width: auto !important;
}
.rounded {
    border-radius: 100px !important;
}
.boxshadow1 {
    position: relative !important;
    box-shadow: 4px 8px 16px slategray !important;
    background: black;
  }
.boxshadow2 {
    position: relative !important;
    box-shadow: 4px 8px 16px slategray !important;
    
    background: black;
  }
hr {
    border: 5px solid #F14668;
    border-radius: 5px;
    width: 90% !important;
}
.header {
    height: 7.5rem !important;
    background-color: #F14668;
}
.nav-item1 {
    float: left;
    margin-top: 0px !important;
    margin-left: 20px !important;
}
#wizard {
    height: 5rem;
}
.nav-item3 {
    float: right;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem !important;
} 
.nav-item2 {
    text-align: center;
    font-weight: bold;
    font-size: calc(30px + (75 - 30) * (100vw - 320px) / (1366 - 320));
    font-family: Federant;
}
.columns {
    height: 7.5rem !important;
}
.title {
    font-family: 'ZCOOL XiaoWei' !important;
    font-size: calc(30px + (75 - 30) * (100vw - 320px) / (1366 - 320));
}
